:root {
  --roxo: #8e44ad;
  --rosa: #ff77a0;
  --laranja: #ff5c00;
  --azul-e: #4a90e2;
  --azul-c: #b0c4de;
  --branco: #fff;
  --borda: 1px solid #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--rosa);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  width: 100vw;
  height: 100vh;
  background: #300957;
  background: linear-gradient(
    180deg,
    rgba(48, 9, 87, 1) 0%,
    rgba(90, 43, 171, 1) 79%,
    rgba(178, 66, 207, 1) 100%
  );
}

header {
  min-height: 7.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
}

.title-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;

  .circle {
    height: 2.5rem;
    width: 2.5rem;
    background: var(--laranja);
    border-radius: 100%;
  }

  h1 {
    font-size: 2.2rem;

    & span {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &:hover {
    .circle {
      background: var(--azul-e);
    }

    h1 {
      color: #ff5c00;

      span {
        color: var(--laranja);
      }
    }
  }
}

.links-box {
  .links {
    display: flex;
    gap: 1.2rem;
    align-items: center;

    .bar {
      width: 0.1rem;
      height: 2.5rem;
      background: var(--azul-e);
    }

    & a {
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        color: var(--azul-c);
      }
    }
  }
}

main {
  width: 100%;
  padding: 10rem 5rem;
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    img {
      max-width: 40rem;
      max-height: 40rem;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }

    .text-box {
      max-width: 37rem;
      display: grid;
      gap: 1rem;

      h2 {
        font-size: 9rem;
      }

      h3 {
        font-size: 2.2rem;
      }

      .circle-links {
        display: flex;
        gap: 1rem;
        height: 10rem;
        font-size: 2rem;
        font-weight: 600;

        .circle {
          max-width: 10rem;
          width: 100%;
          max-height: 10rem;
          height: 100%;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 1.5rem;
          border: var(--borda);
          cursor: pointer;
        }

        a {
          text-decoration: none;
          color: var(--branco);
        }

        .pink {
          background: var(--laranja);
          transition: all 0.3s ease-in-out;
          &:hover {
            background: transparent;
          }
        }
        .orange {
          background: var(--azul-e);
          transition: all 0.3s ease-in-out;
          &:hover {
            background: transparent;
          }
        }
        .blue {
          background: var(--azul-c);
          transition: all 0.3s ease-in-out;
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}
