:root {
  --roxo: #8e44ad;
  --rosa: #ff77a0;
  --laranja: #ff5c00;
  --azul-e: #4a90e2;
  --azul-c: #b0c4de;
  --branco: #fff;
  --borda: 1px solid #000;
  --borda2: 1px solid #4a90e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--branco);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  background: #300957;
  background: linear-gradient(
    180deg,
    rgba(48, 9, 87, 1) 0%,
    rgba(90, 43, 171, 1) 79%,
    rgba(178, 66, 207, 1) 100%
  );
  background-repeat: no-repeat;
}

header {
  min-height: 7.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
}

.title-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;

  .circle {
    height: 2.5rem;
    width: 2.5rem;
    background: var(--laranja);
    border-radius: 100%;
  }

  h1 {
    font-size: 2.2rem;

    & span {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &:hover {
    .circle {
      background: var(--azul-e);
    }

    h1 {
      color: #ff5c00;

      span {
        color: var(--laranja);
      }
    }
  }
}

.links-box {
  .links {
    display: flex;
    gap: 1.2rem;
    align-items: center;

    .bar {
      width: 0.1rem;
      height: 2.5rem;
      background: var(--azul-e);
    }

    & a {
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        color: var(--rosa);
      }
    }
  }
}

main {
  width: 100%;
  min-height: 70rem;
  height: 100%;
  padding: 5rem 5rem;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    &.curriculo {
      flex-direction: column;
      padding: 0 20rem;

      h1 {
        align-self: flex-start;
        transform: translateX(45px);
      }
    }

    &.projetos {
      flex-direction: column;
    }

    img {
      max-width: 40rem;
      max-height: 40rem;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }

    .text-box {
      max-width: 37rem;
      display: grid;
      gap: 1rem;

      h2 {
        font-size: 9rem;
      }

      h3 {
        font-size: 2.2rem;
      }

      p {
        margin-bottom: 2rem;
      }

      .circle-links {
        display: flex;
        gap: 1rem;
        height: 10rem;
        font-size: 2rem;
        font-weight: 600;

        .circle {
          max-width: 10rem;
          width: 100%;
          max-height: 10rem;
          height: 100%;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 1.5rem;
          border: var(--borda);
          cursor: pointer;
        }

        a {
          text-decoration: none;
          color: var(--branco);
        }

        .pink {
          background: var(--laranja);
          transition: all 0.3s ease-in-out;
          &:hover {
            background: transparent;
          }
        }
        .orange {
          background: var(--azul-e);
          transition: all 0.3s ease-in-out;
          &:hover {
            background: transparent;
          }
        }
        .blue {
          background: var(--rosa);
          transition: all 0.3s ease-in-out;
          &:hover {
            background: transparent;
          }
        }
      }
    }

    /* curriculo */
    .experiencia {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      border-bottom: var(--borda2);
      margin-bottom: 1rem;
      padding: 5rem;

      &:last-child {
        border: none;
      }

      div {
        max-width: 63rem;
      }

      ul {
        max-width: 63rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &.skills {
          li {
            transform: translatex(-230px);
          }
        }
      }

      li {
        display: flex;
        gap: 3rem;

        div {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }

    /* projetos */
  }
}

footer {
  height: 14.2rem;
  border-top: var(--borda2);
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
    height: 100%;

    .phone-box,
    .email-box,
    .social-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .social-box {
      .icons {
        padding: 0.2rem;

        i {
          font-size: 2.5rem;
          transition: 0.3s ease-in-out;
          &:hover {
            color: var(--azul-e);
          }
        }
      }
    }
  }
}

/* Responsividade */
@media (max-width: 1360px) {
  html {
    font-size: 60%;
  }

  main {
    .container {
      &.curriculo {
        padding: 0 5rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  main {
    .container {
      .experiencia {
        flex-direction: column;
        align-items: center;

        ul.skills {
          align-items: center;
          justify-content: center;

          li {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 860px) {
  html {
    font-size: 55%;
  }

  main {
    .container {
      display: flex;
      flex-direction: column;

      img {
        max-width: 30rem;
        max-height: 30rem;
      }

      .text-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (max-width: 720px) {
  html {
    font-size: 50%;
  }
  main {
    .container {
      .experiencia {
        padding: 2rem;
      }
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
  main {
    .container {
      .experiencia {
        flex-wrap: wrap;
        ul {
          li {
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
        }
      }
    }
  }
}
